
    <form action="/api/users" method="POST" id="add_user">
        <div >
            <div >
                <label for="name" >Name</label>
                <input type="hidden" name="id" value="">
                <input type="text" name="name" value="" placeholder="xyz">
            </div>
            <div >
                <label for="Email" >Email</label>
                <input type="text" name="email" value="" placeholder="example@gmail.com">
            </div>
            <div>
                <label for="gender" >Gender</label>
                <div >
                    <input type="radio" id="radio-2" name="gender" value="Male" >
                    <label for="radio-2" >Male</label>
                </div>
                <div >
                    <input type="radio" id="radio-3" name="gender" value="Female" >
                    <label for="radio-3" >Female</label>
                </div>
            </div>
    
            <div >
                <label for="gender" >Status</label>
                <div >
                    <input type="radio" id="radio-4" name="status" value="Active" >
                    <label for="radio-4" >Active</label>
                </div>
                <div >
                    <input type="radio" id="radio-5" name="status" value="Inactive" >
                    <label for="radio-5" >Inactive</label>
                </div>
            </div>
    
            <div >
                <button type="submit" >Save</button>
            </div>
    
        </div>
    </form>