.button {
    display: inline;
    width: 40px;
    height: 10px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    line-height: 25px;
}